.gridContainer{
  display:grid;
  margin:2rem;
  grid-template-columns:3fr 2fr;
  grid-template-rows:1.5fr 1.5fr;
  grid-template-areas:
  "canvas text "
  "canvas text";
}
.gridText{
  grid-area:"text";
  display:flex;
  flex-direction:column;
  justify-content:center;
  gap:1rem;
}
.gridCanvas{
  grid-area:"canvas";
}
@media screen and (max-width:768px){
  .gridContainer{
    grid-template-columns:1fr;
    grid-template-rows:auto auto;
    grid-gap:1rem;
    grid-template-areas:
    "canvas"
    "text";
  }
}
