.footerContainer{
  width: 100%;
  height: 5rem;
  padding: 1rem;
  background-color: var(--clr-grey);

  display: flex;
  justify-content: center;
  align-items: center;
  /*position: absolute;*/
  flex-wrap:wrap;
  left: 0;
  gap: 1rem;
}
