
.loaderContainer {
  display: flex;
  position:absolute;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--clr-white);
}

.loaderText {
  display: flex;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}

.loaderText span {
  display: inline-block;
  animation: moveUpDown 1s ease-in-out infinite;
  position: relative;
  margin: 0 2px;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); 
  }
}

